* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 12px;
    background-color: red;
    color: black;
}

header h1 ,
section h2 {
    font-family: "Titillium Web", sans-serif;
}

header {
    font-size: 15px;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

header nav li { 
    display: inline;
    margin-left: 10px;
    font-size: 18px;
}

header nav li a { 
    color: black;
    text-decoration: none ;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-lists img {
    height: 70px;
}

.brands-lists li {
    display: inline;
    margin-right: 22px;
}

section .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
align-items: flex-start;
}

section {
    padding: 24px o;
}

section h2 { 
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
    font-size: 22px;
}

.store-front {
    margin-right: 32px;
}
.container img {
    margin-top: 20px;
}

.container h2 {
    margin-top: 20px;
}

.social-pages {
    min-width: auto;
    display: block;
}

.social-links img {
height: 24px;
}


.social-links li {
    display: inline-block;
    vertical-align: auto;
}

#contact .container {
    display: block;
    
}

.contatc-methods {
    display: flex;

}

form input,
textarea,
button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 10px;
}

form textarea {
    resize: none;
    height: 120px;
}

footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

.social-media {
    text-align: right; 
}

.social-link {
    color: white;
    text-decoration: none;
    margin-left: 10px; 
}

    .box1 {
        flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: right;
    padding: 20px;
    }

form button {
    background-color: rgb(8, 7, 7);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

form button:hover {
    background-color: rgb(241, 17, 17);
}

input:focus, textarea:focus{
    outline-color: red;
}

